## EC1
 Integrantes:
 - Gamero Palacios, Diego Armando
 - Leon Flores, Abel Giankrlo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
dataframe = pd.read_csv('Contraceptive_Limpieza.csv', sep=',')

In [3]:
dataframe.head(10)

,Wife's_age,Wife's_education,Husband's_education,Number_of_children_ever_born,Wife's_religion,Wife's_now_working,Husband's_ocupation,Standard_of_living,Media_exposure,Contraceptive
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1
5,19,4,4,0,1,1,3,3,0,1
6,38,2,3,6,1,1,3,2,0,1
7,21,3,3,1,1,0,3,2,0,1
8,27,2,3,3,1,1,3,4,0,1
9,45,1,1,8,1,1,2,2,1,1

In [4]:
dataframe.groupby('Contraceptive').size()

Contraceptive
1    629
2    333
3    511
dtype: int64